/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Raleway:ital@0;1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* Accent */

    /* Inside call-to-action gradient */
    --color-cyan: hsl(176, 68%, 64%);
    --color-blue: hsl(198, 60%, 50%);
    /* ERROR */
    --color-red: hsl(0, 100%, 63%);

    --background-intro: hsl(217, 28%, 15%);
    --background-main: hsl(218, 28%, 13%);
    --background-footer: hsl(216, 53%, 9%);
    --background-testimonials: hsl(219, 30%, 18%);

    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --neutral: hsl(0, 0%, 100%)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-intro);
    /* font-size: var(--font-open-sans); */
    color: var(--neutral);
}

header{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-raleway);
    font-size: 0.8rem;
    color: var(--neutral);
    }

    header .logo{
    width: 10%;
    cursor: pointer;    
    }
    header nav ul{
        display: flex;
        gap: 1rem;
    }
    header nav ul li{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}

    main .showcase{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .showcase .illustration-intro{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    main .showcase .illustration-intro img{
        width: 35%;
        height: auto;
    }
    main .showcase .texts{
        margin-top: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    main .showcase h1{
        font-weight: 700;
        text-align: center;
        font-size: xx-large;
    }
    main .showcase p{
        margin-top: 1.5rem;
        font-weight: 400;
        text-align: center;
        font-size: large;
    }
    main .showcase .btn-get-started{
        width: 160px;
        height: 40px;
        border: none;
        margin-top: 1.5rem;
        color: var(--neutral);
        background: var(--color-cyan);
        border-radius: 0.75rem;
        font-weight: 700;
    }
    .characteristics{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
    }

    .characteristics-box1{
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 2rem;
        align-items: center;
    }
    /* .characteristics .characteristics-box1 .characteristics-conteinter{
        width: 50%;
        height: auto;
    } */
    .characteristics .characteristics-box1 .characteristics-conteinter h3{
        margin-top: 1.5rem;
        font-weight: 700;
        font-family: var(--font-open-sans);
        font-size: larger;
    }
    .characteristics .characteristics-box1 .characteristics-conteinter p {
        margin-top: 1rem;
        font-family: var(--font-raleway);
        font-weight: 400;
        font-size: large;
        margin-bottom: 2.5rem;

    }

    .productive{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .productive .productive-container{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: center;
        align-items: center;
    }
    .productive .productive-container .img-productive{
        width: 80%;
        height: 100%;
        
    }
    .productive .productive-container .img-productive img{
        width: 100%;
        height: auto;
    }
    .productive .productive-container .productive-texts h3{
        text-align: left;
        font-family: var(--font-raleway);
        font-weight: 700;
        font-size: xx-large;
    }
    .productive .productive-container .productive-texts .paragraph{
        margin-top: 1.5rem;
        font-family: var(--font-raleway);
        font-weight: 400;
        font-size: larger;
    }
    .productive .productive-container .productive-text2{
        width: 40%;
        height: auto;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
    }
    .productive-text2 span{
        font-family: var(--font-raleway);
        color: var(--color-cyan);
        border-bottom: 2px solid var(--color-cyan);
    }

    .cards{
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        justify-content: center;
    }
    .cards-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: var(--background-testimonials);
        padding: .7rem;
        border-radius: .3rem;
    }
    .card .card-text p{
        font-family: var(--font-open-sans);
        font-size: large;
        font-weight: 400;
        color: rgba(234, 234, 234, 0.792);
    }
    .card .card-info-profile{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;
    }
    .card .card-info-profile img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .card .card-info-profile .person .person-name{
        font-family: var(--font-open-sans);
        font-weight: 700;
    }
    .card .card-info-profile .person .description-person{
        font-family: var(--font-open-sans);
        color: rgba(234, 234, 234, 0.792);
        font-weight: 400;
        font-size: x-small;
    }
    footer{
        width: 100%;
        height: 15rem;
        background-color: var(--background-footer);
    }
    footer .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container .contact-logo-text{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .contact-logo-text img{
        width: 40%;
        height: 30%;
    }
    .container .contact-numbers,
    .container .about-us,
    .container .contact-us,
    .container .contact-social-networks{
        width: 15%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .7rem;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .about-us ul,
    .contact-us ul{
    list-style-type: none;
    }
    .about-us ul li,
    .contact-us ul li{
    list-style-type: none;
    margin-bottom: 10px;
    }


.about-us ul li a,
.contact-us ul li a{
    font-family: var(--font-open-sans);
    color: white;

}
/* Estilos para móvil */
@media only screen and (max-width: 575.98px) {
    /* Tus estilos para móvil van aquí */
    header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-raleway);
    font-size: 0.8rem;
    color: var(--neutral);
    }

    header .logo{
    width: 25%;
    cursor: pointer;    
    }
    header nav ul{
        display: flex;
        gap: 1rem;
    }
    header nav ul li{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    }

    main .showcase{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .showcase .illustration-intro{
        width: 90%;
    }
    main .showcase .illustration-intro img{
        width: 100%;
        height: auto;
    }
    main .showcase .texts{
        margin-top: 2rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main .showcase h1{
        font-weight: 700;
        text-align: center;
    }
    main .showcase p{
        margin-top: 1.5rem;
        font-weight: 400;
        text-align: center;
    }
    main .showcase .btn-get-started{
        width: 180px;
        height: 40px;
        border: none;
        margin-top: 1.5rem;
        color: var(--neutral);
        background: var(--color-cyan);
        border-radius: 0.75rem;
        font-weight: 700;
    }
    .characteristics{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .characteristics-box1{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2rem;
        align-items: center;
    }
    .characteristics .characteristics-conteinter{
        width: 90%;
    }
    .characteristics .characteristics-conteinter h3{
        margin-top: 1.5rem;
        font-weight: 700;
        font-family: var(--font-open-sans);
        
    }
    .characteristics .characteristics-conteinter p {
        margin-top: 1rem;
        font-family: var(--font-raleway);
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
    .productive{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .productive .productive-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .productive .productive-container div{
        width: 90%;
        margin: 0 auto;
    }
    .productive .productive-container div img{
        width: 100%;
        height: auto;
    }
    .productive .productive-container .productive-texts h3{
        text-align: center;
        font-family: var(--font-raleway);
        font-weight: 700;
        margin-top: 2rem;
    }
    .productive .productive-container .productive-texts .paragraph{
        margin-top: 1.5rem;
        font-family: var(--font-raleway);
        font-weight: 400;
    }
    .productive .productive-container .productive-texts .productive-text2{
        width: 100%;
        height: auto;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .productive-text2 span{
        font-family: var(--font-raleway);
        color: var(--color-cyan);
        border-bottom: 2px solid var(--color-cyan);
    }
    .cards{
        width: 100%;
        height: auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .card{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--background-testimonials);
        padding: .5rem;
        border-radius: .3rem;
    }
    .card .card-text p{
        font-family: var(--font-open-sans);
        font-size: small;
        font-weight: 400;
        color: rgba(234, 234, 234, 0.792);
    }
    .card .card-info-profile{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin-top: 0.7rem;
    }
    .card .card-info-profile img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .card .card-info-profile .person .person-name{
        font-family: var(--font-open-sans);
        font-weight: 700;
    }
    .card .card-info-profile .person .description-person{
        font-family: var(--font-open-sans);
        color: rgba(234, 234, 234, 0.792);
        font-weight: 400;
        font-size: x-small;
    }
    footer{
        width: 100%;
        height: 35rem;
        background-color: var(--background-footer);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }
    .container .contact-logo-text{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .container .contact-logo-text img{
        width: 80%;
        height: auto;
    }
    .container .contact-numbers,
    .container .about-us,
    .container .contact-us{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .container .contact-social-networks{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .about-us ul,
    .contact-us ul{
    list-style-type: none;
    }
    .about-us ul li,
    .contact-us ul li{
    list-style-type: none;
    margin-bottom: 10px;
    }
    
    
    .about-us ul li a,
    .contact-us ul li a{
    font-family: var(--font-open-sans);
    color: white;
    
    }
}


/* Estilos para tablet en modo retrato */
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
    /* Tus estilos para tablet en modo retrato van aquí */
}

/* Estilos para tablet en modo paisaje */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Tus estilos para tablet en modo paisaje van aquí */
}

/* Estilos para escritorio */
@media only screen and (min-width: 1200px) {
    /* Tus estilos para escritorio van aquí */
}
